# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build
/[Bb]uild/

# Backup
/[Bb]ackup/

# Others
anotaçoes.txt
GBA-RPG-Game.elf
GBA-RPG-Game.gba
GBA-RPG-Game.sav
.vs/VSWorkspaceState.json
.vs/GBA-RPG-Game/v16/.suo
.vs/slnx.sqlite
.vs/GBA-RPG-Game/v16/Browse.VC.db
.vs/GBA-RPG-Game/v16/Browse.VC.db-shm
.vs/GBA-RPG-Game/v16/Browse.VC.db-wal
.vs/GBA-RPG-Game/v16/Browse.VC.opendb
.vs/ProjectSettings.json
GBA-RPG-Game.map
